body {
    background-image: url(butter.png);
    background-color: khaki;
    background-size: fill;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.text {
  animation: slide 1000s linear infinite;
  transform: translateX(100%);
  display: inline-block;
  animation-delay: -498s;
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}